{{- if .Values.daemonsetConfig.enabledCollectors }}
{{- $appConfig := dict -}}
{{- $_ := set $appConfig "server" .Values.config.server -}}
{{- $_ := set $appConfig "kubernetes" .Values.config.kubernetes -}}
{{- $_ := set $appConfig "metrics" .Values.config.metrics -}}
{{- $_ := set $appConfig "logging" .Values.config.logging -}}
{{- $_ := set $appConfig "performance" .Values.config.performance -}}
{{- $leaderElectionDisabled := dict "enabled" false -}}
{{- $_ := set $appConfig "leaderElection" $leaderElectionDisabled -}}
{{- $_ := set $appConfig "enabledCollectors" .Values.daemonsetConfig.enabledCollectors -}}
{{- if .Values.daemonsetConfig.identity }}
{{- $_ := set $appConfig "identity" .Values.daemonsetConfig.identity -}}
{{- end }}
{{- $_ := set $appConfig "collectors" .Values.daemonsetConfig.collectors -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "state-metrics.fullname" . }}-daemonset
  labels:
    {{- include "state-metrics.labels" . | nindent 4 }}
    app.kubernetes.io/component: daemonset
data:
  config.yaml: |
    {{- $appConfig | toYaml | nindent 4 }}
{{- end }}
