{{- if .Values.deploymentConfig.enabledCollectors }}
{{- $appConfig := dict -}}
{{- $_ := set $appConfig "server" .Values.config.server -}}
{{- $_ := set $appConfig "kubernetes" .Values.config.kubernetes -}}
{{- $_ := set $appConfig "metrics" .Values.config.metrics -}}
{{- $_ := set $appConfig "logging" .Values.config.logging -}}
{{- $_ := set $appConfig "performance" .Values.config.performance -}}
{{- $_ := set $appConfig "leaderElection" .Values.deploymentConfig.leaderElection -}}
{{- $_ := set $appConfig "enabledCollectors" .Values.deploymentConfig.enabledCollectors -}}
{{- if .Values.deploymentConfig.identity }}
{{- $_ := set $appConfig "identity" .Values.deploymentConfig.identity -}}
{{- end }}
{{- $_ := set $appConfig "collectors" .Values.deploymentConfig.collectors -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "state-metrics.fullname" . }}-deployment
  labels:
    {{- include "state-metrics.labels" . | nindent 4 }}
    app.kubernetes.io/component: deployment
data:
  config.yaml: |
    {{- $appConfig | toYaml | nindent 4 }}
{{- end }}
